{% extends "base.html" %}
{% block title %}Notes{% endblock %}

{% block header %}Notes{% endblock %}
{% block body %}


{% comment %} add to list {% endcomment %}

<div class="card draggable mb-4" style='background-color: #00000070;'>
  <form method="post" style="padding: 50px;">
    {% csrf_token %}

    <hr class="horizontal dark my-4">

    <h6 class="heading-small text-muted mb-4">Add your notes here.</h6>
    <div>
      <div class="col-md-12">
        <div class="form-group">
          <label class="form-control-label" for="input-address">Note Title</label>
          <input style='background-color: #00000070;' name="Title" id="input-address" class="form-control" placeholder="Your note title" type="text" required>
          <!-- Adding the "required" attribute to make this field required -->
        </div>
      </div>
    </div>
    <hr class="horizontal dark my-2">
    <!-- Description -->
    <div>
      <div class="form-group">
        <label class="form-control-label">Note Description</label>
        <textarea style='background-color: #00000070;' name="Description" rows="4" class="form-control" placeholder="A few words about your note" required></textarea>
        <!-- Adding the "required" attribute to make this field required -->
      </div>
    </div>
    <div class="col-0 text-end">
      <button type='submit' href="#!" class="btn btn-sm bg-gradient-primary mb-0">ADD</button>
    </div>
  </form>
  {% for msg in messages %}
  <div class="alert alert-light alert-dismissible fade show" role="alert">
      {{ msg }}
      <svg type="button" data-dismiss="alert" aria-label="Close" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg close" viewBox="0 0 16 16">
          <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
        </svg>
  </div>
  {% endfor %}
</div>


{% comment %} add to list {% endcomment %}















<div class="card mb-4" style='background-color: #00000070;'>
    <div class="card-header pb-0" style='background-color: #00000070;'>
      <h6>Your Notes</h6>
    </div>
    <div class="card-body px-0 pt-0 pb-2">
      <div class="table-responsive p-0">
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">No.</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Note Title</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Description</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
              <th class="text-secondary opacity-7"></th>
            </tr>
          </thead>
          <tbody>

            {% if data %}
            {% for i in data  %}
            <tr>
              <td>
                <div class="d-flex px-2 py-1">
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{ forloop.counter }}</h6>
                  </div>
                </div>
              </td>

              <td>
                <div class="d-flex px-2 py-1">
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{i.Title}}</h6>
                  </div>
                </div>
              </td>

              <td style="
              white-space: break-spaces;
              overflow: hidden;
              max-width: 250px;
          ">
                <p class="text-xs font-weight-bold mb-0">{{i.Description}}</p>
              </td>

              <td class="align-middle text-center text-sm">
                {% if i.is_completed == 1 %}
                  <span class="badge badge-sm bg-gradient-success">Complete</span>
                {% else %}
                  <span class="badge badge-sm bg-gradient-warning">Incomplete</span>
                {% endif %}

              </td>

              <td class="align-middle text-center">
                <span class="text-secondary text-xs font-weight-bold">{{i.time}}</span>
              </td>

              <td class="align-middle">
                <a href="{% url 'edit' pk=i.id %}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                  Edit
                </a>
                <br>
                <a href="{%url 'complete' id=i.id %}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                  Done
                </a>
                <br>

                <a href="{%url 'delete' id=i.id %}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                  Delete
                </a>

              </td>
              {% endfor %}

            </tr>
            {% else %}
    <h1>No notes available right now.</h1>
    
    {% endif %}

          </tbody>
        </table>
      </div>
    </div>
  </div>

  <br>
  


{% endblock %}