{% extends "base.html" %}
{% block title %}Video Contents{% endblock %}
{% block header %}Video Contents{% endblock %}
{% block body %}










{% comment %} search {% endcomment %}
<h4 style="color: #d7e9e9ad;background-color: #0c0c0c;text-align: center;font-family: cursive;padding: 5px;border-radius: inherit;font-family: 'Quicksand', sans-serif;">You can search youtube content here.</h4>
<div class="d-flex justify-content-center align-items-center">
  <form method="post" class="form-inline">
    {% csrf_token %}
    <div class="input-group" style="
    margin: 30px;
">
      <input style='background-color: #00000070;' name="text" class="form-control border-0 rounded-pill" type="search" placeholder="Search here" aria-label="Search">
      <button type="submit" style="border-bottom-right-radius: 20px;border-top-right-radius: 20px;background-color: aqua;border: aliceblue;width: 50px;">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </form>
</div>






{% comment %} search {% endcomment %}

<div class="row" style='margin:auto;'>
  {% for result in results %}
    <div class="col-md-4 mb-4">
      <div class="card h-100" style='background-color: #00000070;'>
        <div class="card-body p-3 text-center">
          <a href='{{result.link}}' target="_blank">
            <img src="{{result.thumbnail}}" alt="{{result.title}}" class="img-fluid"style="
            border-radius: 20px;
        ">
          </a>
          <h6 class="mt-3 mb-0"><a style="color: #d7e9e9ad;" href='{{result.link}}' target="_blank">{{result.title}}</a></h6>
          <span class="text-xs">{{result.description}}</span>
          <hr class="horizontal dark my-3">
          <h5 style="color: #d7e9e9ad;" class="mb-0">{{result.channel}}</h5>
        </div>
      </div>
    </div>
  {% endfor %}
</div>


{% endblock %}